#back-btn {
    margin: 20px;
    height: 5vh;
    width: 5vh;
    transition: 1.0s ease;
    animation: bob 2.2s ease-in-out infinite alternate-reverse;
    animation-play-state: paused;
    transform-origin: center bottom;
}

#back-btn > img{
    height: 5vh;
}

#back-btn:hover, #back-btn:focus {
    cursor: pointer;
    animation-play-state: running;
}

.top-bar {
    width: 100%;
    height: 50px; 
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #f4f4f4; 
}