/* Reset some default styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../static/images/ocean_background.png");
    background-size: 100vw 100vh;
}

/* Style the header */
header {
    text-align: center;
    padding: 10px;
}

/* Style the main container */


/* Style the ocean background */

.ocean-background {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    height: 20vh;
}


.ui-block {
    position: relative;
    display: block;
    margin: 100px;
    width: 50%;
    height: 150%;
}

.ui-block-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Style the button container */
.button-container {
    display: inline-block;
    padding-right: 3%;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

/* Style the message display and dropped bottles history */
.ui-block,
.dropped-bottles-history {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.message-display {
    display: block;
    padding: 3%;
}

textarea {
    width: 97%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Style the "Done" button within the message display */
#done-button {
    background-color: #00cc77;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 4%;
}

#done-button:hover {
    background-color: #009955;
}

/* Style the dropped bottles history */
.dropped-bottles-history {
    display: none; /* Initially hidden */
    max-height: 300px;
    overflow-y: auto;
    
}

#shoreline {
    position:absolute;
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    padding-top: 5vw;
    height: 20vh;
}

.bottle-icon {
    height: 10vh;
    width: 10vh;
    transition: 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transform-origin: bottom left;
}

.bottle-icon:hover, .bottle-icon:focus {
    rotate: -5deg;
    cursor: pointer;
}