<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <hr>
    Text boxes with an asterisk are required. Others are optional.
    <form id="create-account-form">
        Username*: <input type="text" name="username" id="username" placeholder="Enter your username">
        <br>
        Password*: <input type="password" name="password" id="password">
        <hr>
        First name: <input type="text" name="First" id="First">
        <hr>
        Last name: <input type="text" name="Last" id="Last">
        <hr>
        Email: <input type="text" name="Email" id="Email">
        <hr>
        Phone: <input type="text" name="Phone" id="Phone">
        <hr>
        <button type="button" id="create-button">Create</button>
        <button type="reset">Reset</button>
    </form>

    <!-- Include the Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        // Handle the create button click event
        document.getElementById("create-button").addEventListener("click", function() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const first = document.getElementById("First").value;
            const last = document.getElementById("Last").value;
            const email = document.getElementById("Email").value;
            const phone = document.getElementById("Phone").value;

            axios({
                url: '/api/newaccount',
                method: 'POST',
                data: {
                    username: username,
                    password: password,
                    first_name: first,
                    last_name: last,
                    email: email,
                    phone: phone
                }
            }).then(result => {
                alert(result.data.message); // Show success message
                window.location.href = '/';
            }).catch(error => {
                alert(error.response.data.error); // Show error message
            });
        });
    </script>
</body>
</html>
