<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/HomePage.css">
</head>
<body>
    <h1>Home Page</h1>
    <div class="toolbar">
        <button id="mode-button">Mode</button>
        <button id="logout">logout</button>
        <button class="profile-button" id="profile-b">Profile</button>
    </div>
    <div class="button-container">
        <button class="message-button">Message</button>
        <button id="ocean-button">Ocean</button>
        <a href="./Team.html"><button class="group-button">Group</button></a>
    </div>
    <script src="../static/HomePage.js"></script>
    <script>
         document.getElementById("profile-b").addEventListener("click", function() {
            window.location.href = '/profile';
         })
         document.getElementById("ocean-button").addEventListener("click", function() {
            window.location.href = '/ocean';
         })
         document.getElementById("logout").addEventListener("click", function() {
            localStorage.removeItem('access_token');
            localStorage.removeItem('refresh_token');
            window.location.href = '/';
         })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/Interceptor.js"></script>
</body>
</html>
