<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/HomePage.css">
</head>
<body>
    <h1>Home Page</h1>
    <div class="toolbar">
        <button id="mode-button">Mode</button>
        <a href="./Profile.html" class="profile-button">Profile</a>
    </div>
    <div class="button-container">
        <button class="message-button">Message</button>
        <a href="./Ocean.html"><button>Ocean</button></a>
        <a href="./Team.html"><button class="group-button">Group</button></a>
    </div>
    <script src="../static/HomePage.js"></script>
</body>
</html>
