<!-- your other HTML head elements -->
</head>
<body>
    <h1>Login</h1>
    <hr>
    <form id="login-form">
        User: <input type="text" name="username" id="username" placeholder="Juan_CS422">
        <br>
        Password: <input type="password" name="password" id="password">
        <hr>
        <!-- ... Your login form inputs ... -->
        <button type="button" id="login-button">Login</button>
        <button type="reset">Reset</button>
        <br>
        <button type="button" id="create-user">Create account</a></button>
    </form>

    <!-- Include the Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        // Handle the login button click event
        document.getElementById("login-button").addEventListener("click", function() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            axios({
                url:'/api/login',
                method:'POST',
                data:{
                    username:username,
                    password:password
                }
            }).then(result=>{
                console.log(result);
                window.location.href = '/homepage';
            }).catch(error=>{
                console.log(error);
                alert(error.response.data.error);
            })
        });

        document.getElementById("create-user").addEventListener("click", function() {
            window.location.href = '/createuser';
        });
    </script>
</body>
</html>
