<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="../static/Message.css">
</head>
<body>
    <!-- back button to home page -->
    <div class="top-bar">
        <div id="back-btn">
            <img src="../static/images/wheel.png" alt="back button">
        </div>
    </div>
    
    <div class="container">
        <div class="left-sidebar">
            Friends
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tbody id="friends-table">
                    <!-- Dynamically generated employee rows will be inserted here -->
                </tbody>
            </table>
        </div>
        <div class="main-content">
            Friend Requests
            <table>
                <tr>
                    <th>Name</th>
                    <th>Operation</th>
                </tr>
                <tbody id="request-table">
                    <!-- Dynamically generated employee rows will be inserted here -->
                </tbody>
            </table>
        </div>
        <div class="right-sidebar">
            ChatBox
        </div>
    </div>

    
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/Interceptor.js"></script>
<script>
     function agree(ID){
        console.log(ID);
        axios({
            url: '/api/accept_request',
            method: 'POST',
            data: {
                person_accepted_ID: ID
            }
        }).then(result => {
            alert(result.data.message);
            location.reload();
        }).catch(error => {
            alert(`${error.response.data.error}`);
        });
    }

    function reject(ID){
        console.log(ID);
        axios({
            url: '/api/decline_request',
            method: 'POST',
            data: {
                person_declined_ID: ID
            }
        }).then(result => {
            alert(result.data.message);
            location.reload();
        }).catch(error => {
            alert(`${error.response.data.error}`);
        });
    }

    window.onload = function(){
        axios({
            url: '/api/get_friends',
            method: 'GET',
        }).then(result => {
            const friends = result.data.friends;
            const table = document.getElementById('friends-table');
            console.log(friends)
            friends.forEach(friend => {
                let row = table.insertRow();
                row.innerHTML = `<td>${friend.username}</td>`;
                //console.log(row)
            });
        }).catch(error => {
            alert(`${error.response.data.error}`);
        });

        axios({
            url: '/api/get_friend_requests',
            method: 'GET',
        }).then(result => {
            const friends = result.data.added_user;
            const waiting_friends = result.data.user_added;
            console.log(friends)
            console.log(waiting_friends)
            const table = document.getElementById('request-table');
            const other_table = document.getElementById('friends-table')
            
            friends.forEach(friend => {
                let row = table.insertRow();
                row.innerHTML = `<td>${friend.username}</td>
                <td><a href="#" onclick="agree(${friend.user2_ID})">Agree</a> | <a href="#" onclick="reject(${friend.user2_ID})">Reject</a></td>
                `;
                //console.log(row)
            });

            waiting_friends.forEach(friend => {
                let row = other_table.insertRow();
                row.innerHTML = `<td>${friend.username} (Pending)</td>`;
            });
        }).catch(error => {
            alert(`${error.response.data.error}`);
        });
    }
</script>
<script>
    document.getElementById("back-btn").addEventListener("click", function() {
        window.location.href= '/homepage';
    });
</script>
</html>
